<div class="movie">
    <h2>Title: {{title}}</h2>
    <img src="{{imageUrl}}">
    <p>{{descirption}}</p>
    <h2>Genres</h2>
    <ul class="genres">
        <li>{{genres}}</li>
    </ul>
    <p>Available Tickets: {{tickets}}</p>
    <button><a href="#/buy">Buy Ticket</a></button>
</div>