{{> header}}
<div class="container home some">
    <img class="det-img" src="{{imageUrl}}"/>
    <div class="desc">
        <h2 class="display-5">{{title}}</h2>
        <p class="infoType">Description:</p>
        <p class="idea-description">{{description}}</p>
        <p class="infoType">Likes:
            <large>{{likesCount}}</large>
        </p>
        <p class="infoType">Comments:</p>
        <ul>
            {{#each comments}}
                <li class="comment">{{displayName}}: {{content}}</li>
            {{else}}
                <li class="comment">No comments yet :(</li>
            {{/each}}

        </ul>
    </div>
    {{#if isAuthor}}
        <div class="text-center">
            <a class="btn detb" href="#/delete/{{objectId}}">Delete</a>
        </div>
    {{else}}
        <form class="text-center" method="POST" id="commentForm" action="#/comment/{{objectId}}">
            <textarea class="textarea-det" name="content" id=""></textarea>
            <button type="submit" class="btn detb">Comment</button>
            <a class="btn detb" href="#/like/{{objectId}}">Like</a>
        </form>
    {{/if}}
</div>
{{>footer}}
